@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400&family=Raleway:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #f8f8f8;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    gap: 20px;
}

header .title {
    font-size: 1.75em;
    font-weight: bold;
}

header .search-bar {
    position: relative;
    margin-left: 20px;
}

header .search-bar input {
    font-family: 'Raleway', sans-serif;
    border-radius: 20px;
    width: 30em;
    padding: 10px 20px;
    border: 2px solid black;
}

header .search-bar::after {
    content: '\1F50D';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #9e9e9e;
    pointer-events: none;
}

.auth-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-link,
.auth-buttons a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.2em;
}

.login-link:hover,
.auth-buttons a:hover {
    text-decoration: underline;
    text-decoration-color: blue;
}

nav {
    background-color: #333;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-decoration: none;
    padding: 15px 0;
    display: block;
    text-align: center;
    transition: background-color 0.4s;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #777;
}

.active {
    background-color: #555;
}

.content {
    display: block;
    justify-content: space-between;
    margin: 20px 5%;
}


.top-sections {
    display: flex;
    /* Use flexbox for daily special and trending */
    justify-content: space-between;
    /* Space them out */
    margin-bottom: 20px;
    /* Space between top sections and random recipe */
}

.section {
    width: 45%;
}

.daily-special,
.trending {
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    height: 30em;
}

.daily-special img,
.trending img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.trending-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.trending-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
}

.daily-special .button {
    display: inline-block;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 0;
}

.daily-special .button:hover {
    text-decoration: underline;
}

.daily-special-image {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f1f1f1;
}

.footer-section {
    flex: 1;
    text-align: center;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.social-icons a {
    padding: 10px;
}

.follow-us i {
    font-size: 30px;
    color: grey;
}

.explore a,
.follow-us a {
    display: block;
}

.social-icons a:hover .fa-youtube {
    color: #FF0000;
}

.social-icons a:hover .fa-facebook {
    color: #3b5998;
}

.social-icons a:hover .fa-twitter {
    color: #1DA1F2;
}

.social-icons a:hover .fa-tiktok {
    color: black;
}

.explore {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explore-links {
    display: flex;
    flex-direction: column;
}

.first-line,
.second-line {
    display: flex;
    justify-content: center;
}

.explore a {
    color: black;
    text-decoration: none;
    margin: 5px 15px;
}

.explore a:hover {
    text-decoration: underline;
    text-decoration-color: blue;
}

.developers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-decoration: none;
    transition: transform 0.3s, background-color 0.3s;
}

.circle:hover {
    transform: scale(1.1);
    background-color: darkgrey;
}

.random-recipe {
    width: 97.5%;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    margin-top: 20px;
}

.random-recipe-text {
    display: flex;
    /* Use flexbox to align items */
    align-items: center;
    /* Center align items vertically */
    justify-content: space-between;
    /* Space between text and button */
}

.random-recipe h2 {
    display: flex;
    /* Use flexbox for the heading */
    align-items: center;
    /* Center items vertically */
}

@keyframes gradient-motion {
    0% {
        background-position: 0% 50%;
        /* Start position */
    }

    50% {
        background-position: 100% 50%;
        /* Move to the right */
    }

    100% {
        background-position: 0% 50%;
        /* Move back to the left */
    }
}

.random-button {
    display: block;
    /* Center the button */
    margin: 0 auto;
    /* Center alignment */
    padding: 10px 30px;
    /* Increase padding for larger size */
    border-radius: 25px !important;
    /* Makes the button pill-shaped */
    background: linear-gradient(to right, rgba(30, 30, 30, 1), rgba(100, 100, 100, 1), rgba(100, 100, 100, 1), rgba(100, 100, 100, 1), rgba(30, 30, 30, 1));
    /* Smooth gradient */
    background-size: 200% 200%;
    /* Allows for the gradient to move */
    color: white;
    /* Text color */
    border: 2px solid white;
    /* White border */
    box-shadow: 4px -4px 8px rgba(0, 0, 0, 0.5);
    /* Drop shadow towards top left */
    font-size: 1.5em !important;
    /* Increase font size */
    cursor: pointer;
    /* Pointer cursor on hover */
    transition: border-color 0.3s ease;
    /* Smooth transition for border color changes */
}

.random-button:hover {
    animation: gradient-motion 3s ease infinite;
    /* Apply animation on hover */
    border-color: lightblue;
    /* Change border color on hover if desired */
}

.random-recipe-content {
    display: flex;
}

.random-recipe-image {
    width: 50%;
}

.random-button {
    font: inherit;
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 0.65em;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.random-button:hover {
    background-color: darkgrey;
}




.customer-reviews {
    width: 97.5%;
    padding: 20px;
    background-color: #f8f8f8;
    /* Same background as other sections */
    border-radius: 10px;
    margin-top: 20px;
    /* Space above */
}

.reviews-title {
    text-align: center;
    /* Center the title */
    margin-bottom: 20px;
    /* Space below title */
}

.customer-reviews-content {
    display: flex;
    /* Use flexbox for layout */
    justify-content: center;
    /* Center items in the container */
    flex-wrap: wrap;
    /* Allow wrapping for multiple lines */
}

.review-item {
    display: flex;
    /* Use flexbox for each review */
    justify-content: center;
    /* Center content within each item */
    width: 30%;
    /* Each review occupies 30% of the width */
    margin-bottom: 20px;
    /* Space between rows */
}

.review-container {
    background-color: white;
    /* Background for review container */
    border-radius: 10px;
    /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Shadow effect */
    padding: 10px;
    /* Padding around review content */
    display: flex;
    /* Use flexbox to align image and text */
    align-items: center;
    /* Center vertically */
}

.profile-pic {
    width: 50px;
    /* Set a specific width */
    height: 50px;
    /* Set a specific height */
    border-radius: 50%;
    /* Makes the image circular */
    object-fit: cover;
    /* Ensures the image covers the area without stretching */
    overflow: hidden;
    /* Ensures any overflow is hidden */
}

.review-details {
    flex-grow: 1;
    /* Allow details to take up remaining space */
    padding-left: 10px;
    /* Adjust the padding value as needed */
}

.review-header {
    display: flex;
    /* Align name and rating next to each other */
    justify-content: space-between;
    /* Space out name and rating */
}

.customer-name {
    font-weight: bold;
    /* Make name bold */
}

.star-rating {
    color: gold;
    /* Color for star rating */
}