.Favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--primary-text-color);
    transition: background-color 0.5s ease-in-out, text-color 0.5s ease-in-out;
}

.favorite-item {
    display: flex;
    width: 70%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.f-left-section img {
    width: 150px;
    height: auto;
}

.f-middle-section {
    flex-grow: 1;
    padding-left: 20px;
}

.frandom-button {
    display: block;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    padding: 10px 30px;
    border-radius: 25px !important;
    background: var(--gradient-button);
    background-size: 200% 200%;
    color: var(--background-color);
    border: 2px solid var(--background-color);
    box-shadow: 4px -4px 8px var(--gradient-button-shadow);
    font-size: 1.5em !important;
    cursor: pointer;
    transition: border-color 0.3s ease;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.frandom-button:hover {
    animation: gradient-motion 3s ease infinite;
    border-color: var(--opposite-background-color);
}

.favorite-item.removing {
    opacity: 0;
    transform: translateX(-100%);
}

.fno-style-link {
    text-decoration: none;
    color: inherit;
}